body {
   background: linear-gradient(135deg, #f093fb, #f5576c);
    min-height: 100vh;
    padding: 20px;
}

h2 {
    color: #4a4aff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    display: block;
    padding: 10px;
    margin: 6px 0;
    background: white;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

li a:hover {
    background: #4a4aff;
    color: white;
}
